<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="bdd_server" value="localhost"/>
    <add key="bdd_database" value="GOS"/>
    <add key="bdd_uid" value="root"/>
    <add key="bdd_password" value=""/>
    <add key="debugmode" value="true"/>
  </appSettings>
</configuration>